@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
}

:root {

    /* Theme 1 Backgrounds */
    --cor00:hsl(222, 26%, 31%);
    --cor01:hsl(223, 31%, 20%);
    --cor02:hsl(224, 36%, 15%);
    /* cor dos num */
    --cor03:hsl(225, 21%, 49%);
    --cor04:hsl(224, 28%, 35%);
    --cor05:hsl(6, 63%, 50%);
    --cor06:hsl(6, 70%, 34%);
    --cor07:hsl(30, 25%, 89%);
    --cor08:hsl(28, 16%, 65%);
    /* Texto */
    --cor09:hsl(221, 14%, 31%);
    --cor10:hsl(0, 0%, 100%);
    /* Theme 2 Backgrounds */
    --cor11:hsl(0, 0%, 90%);
    --cor12:hsl(0, 5%, 81%);
    --cor13:hsl(0, 0%, 93%);
    /* cor dos num */
    --cor14:hsl(185, 42%, 37%);
    --cor16:hsl(185, 58%, 25%);
    --cor17:hsl(25, 98%, 40%);
    --cor18:hsl(25, 99%, 27%);
    --cor19:hsl(45, 7%, 89%);
    --cor20:hsl(35, 11%, 61%);
    /* Texto */
    --cor21:hsl(60, 10%, 19%);
    --cor22:hsl(0, 0%, 100%);
    /* Theme 3 Backgrounds */
    --cor23:hsl(268, 75%, 9%);
    --cor24:hsl(268, 71%, 12%);
    /* cor dos num */
    --cor25:hsl(281, 89%, 26%);
    --cor26:hsl(285, 91%, 52%);
    --cor27:hsl(176, 100%, 44%);
    --cor28:hsl(177, 92%, 70%);
    --cor29:hsl(268, 47%, 21%);
    --cor30:hsl(290, 70%, 36%);
    /* Texto */
    --cor31:hsl(52, 100%, 62%);
    --cor32:hsl(198, 20%, 13%);
    --cor33:hsl(0, 0%, 100%);
}

header {
    display: flex; /* alinhar itens ao lado */
    justify-content: space-between;/*espaço entre os itens*/
    text-align: center;
    align-items: center;
    padding: 10px;
    margin: auto;
    width: 480px;
}

main {
    /* display: grid; */
    /* grid-gap: 30px */
}

#res {
    display: grid;
    align-items: center;
    font-size: 32px;
    background-color: var(--cor02);
    color: var(--cor07);
    text-align: right;
    border-radius: 10px;
    padding: 15px;
    width: 30rem;
    height: 80px;
    margin: 10px auto 15px auto;
}

#num {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    background-color: var(--cor01);
    color: var(--cor02);
    text-align: center;
    width: 30rem;
    height: 550px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto 15px auto;
}

#num > a {
    background-color: var(--cor07);
    color: var(--cor02);
    font-size: 32px;
    text-decoration: none;
    border-radius: 10px;
    padding-top: 38px;
    box-shadow: 0px 5px var(--cor08);

}

#num > a:hover {
    text-decoration: none;
    background-color: var(--cor10);
    border-radius: 10px;
}

#num > a:nth-child(n + 17) {
    grid-row: 200px;
}

footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.attribution { 
    font-size: 11px;
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 20%, 80%); 
}